body {
    font-family: 'Poppins', sans-serif;
    background: url('https://media.istockphoto.com/id/1315221886/photo/pink-pale-millennial-grunge-marble-texture-abstract-putty-concrete-background-rose-gold.jpg?s=612x612&w=0&k=20&c=9y5HOKZlNPRS2rlWr-Jp4uJOu1wH1rPROP-6gkDuh5Y=') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding-bottom: 60px;
}

.buttons {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.form-container, .view-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

.child-card {
    padding: 15px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
